.habit-chain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .chain-circle{
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: grey;
        &.done {
            background: rgb(175, 255, 56);
        }
        &.skipped {
            background: rgb(255, 25, 25);
        }
    }
}