.monthly-calendar{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    gap: 7px;
    .day-title{
        text-align: center;
        color: white;
        font-size: 1.1rem;
        user-select: none;
    }
}