.monthly-calendar{
    height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(75px, 1fr));
    gap: 7px;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
        background: rgba(128, 128, 128, 0.564);
        height: 7px;
        border-radius: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(1, 182, 182);
        border-radius: 7px;
    }
    .day-title{
        text-align: center;
        color: white;
        font-size: 1.1rem;
        user-select: none;
    }
}