.add-habit-container{
    width: 100%;
    margin-bottom: 20px;
    .add-habit-cta {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        border: dashed #bbe789ab;
        transition: .15s ease;
        &:hover {
            background: rgba(128, 128, 128, 0.15);
        }
        p {
            color: #BBE789;
            font-size: 20px;
            font-weight: 600;
        }
    }
}