.day-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    height: 90px;
    border: 1px solid teal;
    padding: 5px;
    transition: .15s ease;
    cursor: pointer ;
    user-select: none;
    &.completed{
        background: rgba(195, 231, 137, 0.7);
        border: 1px solid #c3e7892c;
    }
    &.uncompleted {
        background: rgba(231, 137, 137, 0.7);
        border: 1px solid #e7898962;
    }
    &.out-of-month {
        opacity: .6;
    }
    .date{
        color: rgb(255, 255, 255);
        transition: .15s ease;
        font-size: 1rem;
    }
    .total-done {
        color: rgba(255, 255, 0, 0.8);
        font-size: 14px;
        &.showing-color {
            color: black;
            font-size: 16px;
        }
    }
    &:hover {
        transform: scale(1.05);
        .date {
            color: rgba(241,241,241);
        }
    }
    .habit-title {
        color: whitesmoke;
    }
}