.day-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    height: 90px;
    border: 1px solid teal;
    padding: 5px;
    transition: .15s ease;
    cursor: pointer ;
    user-select: none;
    &.completed{
        background: rgba(195, 231, 137, 0.7);
        border: 1px solid #c3e7892c;
        padding-top: 6px;
        border-top: none;
    }
    &.uncompleted {
        background: rgba(231, 137, 137, 0.7);
        border: 1px solid #e7898962;
        padding-top: 6px;
        border-top: none;
    }
    &.out-of-month {
        opacity: .7;
    }
    .date{
        color: rgb(255, 255, 255);
        transition: .15s ease;
        font-size: 1rem;
    }
    &:hover {
        transform: scale(1.05);
        .date {
            color: rgba(241,241,241);
        }
    }
    .habit-title {
        color: whitesmoke;
    }
}