.day-container {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid teal;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .15s ease;
    position: relative;
    &:hover {
        width: 150%;
        z-index: 3;
        background: rgb(31, 43, 70);
    }
    @media screen and(max-width:'768px') {
        border-radius: 2px;
    }
    .color-background {
        height: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .5s ease;
        &.completed{
            background: linear-gradient(to top, #c3e789bb, rgba(0, 0, 0, 0) 40%);
            &.show-colors {
                height: 100%;
                padding-top: 6px;
                border-top: none;
                border: 1px solid #c3e7892c;
                border-top: none;
            }
        }
        &.uncompleted {
            background: linear-gradient(to top, #e78989bb, rgba(0, 0, 0, 0) 40%);
            &.show-colors {
                height: 100%;
                border: 1px solid #e7898962;
                padding-top: 6px;
                border-top: none;
            }
        }
        
    }
    .date {
        z-index: 1;
        color: white;
    }
    .day-habits {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 50%;
        justify-content: start;
        align-items: start;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;
        &::-webkit-scrollbar {
            background: none;
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background: rgb(0, 128, 128);
            border-radius: 10px;
        }
        .habit-title {
        color: white;
        }
    }
    .total-completed {
        z-index: 1;
        color: white;
    }
}