.sidebar-option {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &.hide-option {
        color: #C3E789;
    }
    color: white;
    padding: 5px 0 5px 20px ;
    cursor: pointer;
    transition: .15s ease;
    &:hover {
        background: linear-gradient(to right, rgb(112, 122, 182), #5d66a100);
    }
    .icon {
        font-size: 14px;
        transition: .15s ease;
        &.active {
            transform: rotate(180deg);
        }
    }
    @media screen and(max-width:'768px') {
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #c3e789a2;
        padding: 10px;
        align-items: center;
        margin: auto;
        width: 50%;
        &:hover {
            background: rgba(129, 129, 129, 0.2);
        }
    }
}
.sort-option {
    padding: 5px 0 5px 35px ;
    color: #C3E789;
    cursor: pointer;
    transition: .15s ease;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    &:hover {
        background: linear-gradient(to right, #5d66a100, rgb(112, 122, 182) 10%, #5d66a100);
    }
    @media screen and(max-width:'768px') {
        border: none;
        border-radius: 7px;
        width: 100%;
        padding: 8px 0 8px 30px;
        font-size: 1.1rem;
        text-align: center;
        &:hover {
            background: rgba(129, 129, 129, 0.2);
        }
    }
}