.habit {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #c3e7895b, 2px 2px 4px #c3e7895b inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    transition: .15s ease;
    &.show-details {
        height: auto;
        @media screen and(min-width:'768px') {
            grid-column: 1/3;
            animation: open-habit-details .15s ease;
            @keyframes open-habit-details {
                0% {
                    width: 50%;
                    height: 160px;
                }
                100% {
                    width: 100%;
                    height: 250px;
                }
            }
        }
        .details {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1.4rem;
            color: white;
            h4 {
                color: #C3E789; 
            }
            .info {
                font-size: 1rem;
                width: 30%;
                .action-days {
                    text-transform: capitalize;
                }
            }
            .reminders {
                width: 150px;
            }
            @media screen and(max-width:'768px') {
                flex-direction: column;
                .info {
                    width: 100%;
                }
                .reminders {
                    width: 100%;
                    .reminders-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 25px;
                    }
                }
            }
        }
    }
    .habit-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .title-container {
            max-width: 50%;
            height: 2rem;
            overflow: hidden;
            &.in-details {
                height: auto;
            }
            .habit-title{
                color: #F3F34E;
                font-size: 18px;
            }
        }
        
        .start-date{
            color: whitesmoke;
        }
    }
    .habit-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .habit-score {
            color: whitesmoke;
        }
        button {
            border: none;
            color: #F3F34E;
            background: none;
            padding: 5px 15px;
            cursor: pointer;
            border-radius: 5px;
            transition: .1s ease;
            font-size: 15px;
            &.delete-button {
                color: rgb(231, 55, 55);
                font-size: 1rem;
            }
            &:hover {
                background: rgba(101, 102, 182, 0.363);
            }
        }
    }
}