nav {
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
    user-select: none;
    .logo-container {
        a {
            color: white;
            text-decoration: none;
            p{
                font-size: 1.6rem;
                cursor: pointer;
                transition: .2s ease;
                span {
                    font-weight: 700;
                    color: #C3E789;
                    transition: .2s ease;
                }
            }
            &:hover {
                p{
                    color: #C3E789;
                    span {
                        color:white;
                    }
                }
            }
        }
        
    }
    .links-container {
        .links-list {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .link{
                font-size: 18px;
                padding: 5px 15px;
                cursor: pointer;
                transition: .15s ease;
                color: white;
                text-decoration: none;
                &:hover {
                    color: #C3E789;
                    padding: 5px 13px;
                    font-size: 19px;
                }
                &.active {
                    color: #b8eb65;
                    padding: 5px 13px;
                    font-size: 19px;
                    text-decoration: underline #b8eb659c;
                }
            }
        }
    }
    .icon {
        font-size: 32px;
        cursor: pointer;
        margin-right: 20px;
    }
    @media screen and(max-width:'768px') {
        .blur {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.384);
            z-index: 10;
            animation: appear .15s ease;
            @keyframes appear {
                0%{
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .links-container {
                height: 100vh;
                width: 60vw;
                background: #464D7C;
                position: absolute;
                top: 0;
                right: 0;
                animation: appear-from-side .15s ease;
                display: flex;
                flex-direction: column;
                @keyframes appear-from-side {
                    0%{
                        right: -60vw;
                    }
                    100% {
                        right: 0;
                    }
                }
                &.dissapearing {
                    animation: disappear-from-side .15s ease;
                    @keyframes disappear-from-side {
                        0%{
                            right: 0;
                        }
                        99%{
                            right: -60vw;
                        }
                        100%{
                            display: none;
                        }
                    }
                }
                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    padding: 15px 25px 0 0;
                    cursor: default;
                    margin-bottom: 10px;
                    svg {
                        cursor: pointer;
                    }
                }
                .links-list {
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    width: 100%;
                    li {
                        width: 100%;
                        .link {
                            display: block;
                            width: 100%;
                            padding: 10px 15px;
                            text-decoration: none;
                            &:hover {
                                background: rgba(117, 116, 116, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}
