.footer {
    color: white;
    text-align: center;
    margin: 30px 0 25px 0;
    a {
        color: #BBE789;
        margin-right: 5px;
        text-decoration: underline;
    }
    .icon {
        margin-left: 10px;
    }
}